<a href="{% url 'home' %}">Go Back To Home Page</a>
<h1> City : {{city}}</h1>
<a href="{% url 'delete' city %}">Delete</a>


{% for date, data in weather_date.items %}
<div class="day-card">
    <h3>Date :{{date}}</h3>

    <div class="card" style="display: grid; grid-template-columns:repeat(8, 1fr); justify-content: space-between; ">
        {% for datum in data %}
        <div>
            <p>Time: {{ datum.time }}</p>
            <p>Temperature: {{ datum.temperature }} &deg;F</p>
            <p>Feels like: {{ datum.feels_like }}</p>
            <p>Humidity: {{ datum.humidity }}%</p>
            <p>Description: {{ datum.description }}</p>
        </div>{% endfor %}
    </div>

</div>
{% endfor %}